<div class="cbi-section">
	<h3><%:IP Pool Configuration Help%></h3>
	
	<fieldset>
		<legend><%:IP Address Pool Settings%></legend>
		<table class="cbi-section-table">
			<tr>
				<th width="40%"><%:Gateway Pool Address%></th>
				<td><%:The IP address of the NAS gateway that will be assigned to clients%></td>
			</tr>
			<tr>
				<th><%:IP Pools%></th>
				<td><%:IP address ranges for client allocation (e.g., 10.0.0.2-10.0.0.254)%></td>
			</tr>
			<tr>
				<th><%:DNS Servers%></th>
				<td><%:DNS servers pushed to clients (e.g., 8.8.8.8, 8.8.4.4)%></td>
			</tr>
		</table>
	</fieldset>
	
	<fieldset>
		<legend><%:Example Configuration%></legend>
		<pre style="background:#f4f4f4;padding:10px;border:1px solid #ddd;">
Gateway Pool Address: 10.0.0.1
IP Pools: 10.0.0.2-10.0.0.254
DNS 1: 8.8.8.8
DNS 2: 8.8.4.4
		</pre>
	</fieldset>
</div>
